<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page><!-- Missing resource -->
    <error-code>404</error-code>
    <location>/index.html</location>
  </error-page>
  <error-page><!-- Any other errors -->
    <location>/index.html</location>
  </error-page>
</web-app>
